{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="m-5 p-5 rounded-3 bg-light">
            <div class="text-center">
            <h1>Are you sure to delete this post? </h1>
                <form action="#" method="POST">
                {% csrf_token %}
                    <input type="submit" value="Yes" class="btn btn-danger">
                    <a href="{% if post %}{% url 'blog:post_detail' pk=post.pk %}{% else %}{% url 'blog:index' %}{% endif %}" class="btn btn-success">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}